<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufg.UFGNotify"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.UFG" >
        <activity
            android:name="br.ufg.UFGNotify.activity.SplashScreenActivity"
            android:icon="@drawable/ic_launcher_2"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.ufg.UFGNotify.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/ic_launcher_2"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.ufg.UFGNotify.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/ic_launcher_2"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="br.ufg.UFGNotify.activity.ManageNotificationsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/ic_launcher_2"
            android:label="@string/title_activity_notification" >
        </activity>
        <activity
            android:name="br.ufg.UFGNotify.activity.SignUpActivity"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/ic_launcher_2"
            android:label="@string/title_activity_signup" >
        </activity>
        <activity
            android:name="br.ufg.UFGNotify.activity.ViewNotificationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/ic_launcher_2"
            android:label="@string/title_activity_view_notification" >
        </activity>
        <activity
            android:name="br.ufg.UFGNotify.activity.SettingsActivity"
            android:icon="@drawable/ic_launcher_2"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="br.ufg.UFGNotify.activity.SettingNotificationsActivity"
            android:icon="@drawable/ic_launcher_2"
            android:label="@string/title_activity_setting_notifications" >
        </activity>
    </application>

</manifest>